

<input class="form-control form-control-sm" type="file" (change)="fileChangeEvent($event)" />
<br />
<br />
<button type="button" class="btn btn-primary btn-sm mx-1" (click)="rotateLeft()">Rotate left</button>
<button type="button" class="btn btn-primary btn-sm mx-1" (click)="rotateRight()">Rotate right</button>
<button type="button" class="btn btn-primary btn-sm mx-1" (click)="flipHorizontal()">Flip horizontal</button>
<button type="button" class="btn btn-primary btn-sm mx-1" (click)="flipVertical()">Flip vertical</button>
<br />
<br />
<button type="button" class="btn btn-primary btn-sm mx-1" (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain Within Aspect Ratio'}}</button>
<button type="button" class="btn btn-primary btn-sm mx-1" (click)="resetImage()">Reset image</button>
<br />
<br />
<input class="form-control form-control-sm" [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()" style="width: 100px;" />
<button type="button" class="btn btn-primary btn-sm mx-1"  (click)="zoomOut()">Zoom -</button>
<button type="button" class="btn btn-primary btn-sm mx-1"  (click)="zoomIn()">Zoom +</button>

<div>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [containWithinAspectRatio]="containWithinAspectRatio"
    [aspectRatio]="3 / 3"
    [resizeToWidth]="256"
    [cropperMinWidth]="128"
    [onlyScaleDown]="true"
    [roundCropper]="false"
    [canvasRotation]="canvasRotation"
    [transform]="transform"
    [alignImage]="'left'"
    [style.display]="showCropper ? null : 'none'"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady($event)"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
</div>
<img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'"  alt=""/>

