
 <app-drop-zone (dropped)="fileSelected($event)" *ngIf="!imageCropperHidden"></app-drop-zone>

<div class="container px-0"  *ngIf="imageCropperHidden">
  <div class="row">
  <div><button type="button" class="btn btn-sm btn-primary me-1 mb-2" (click)="toogleImageCropper()" >Load another photo </button></div>
  </div>
  <div class="row">
    <div class="col-sm-12  col-md-7" >
      <button type="button" class="btn btn-light me-1" (click)="zoomOut()" data-bs-toggle="tooltip" data-bs-placement="top" title="Zoom -"> <i class="fa fa-search-minus"></i> </button>
      <button type="button" class="btn btn-light me-1" (click)="zoomIn()" data-bs-toggle="tooltip" data-bs-placement="top" title="Zoom +"> <i class="fa fa-search-plus"></i> </button>

      <button type="button" class="btn btn-light me-1" (click)="rotateLeft()" data-bs-toggle="tooltip" data-bs-placement="top" title="Rotate left"> <i class="fa fa-rotate-left"></i> </button>
      <input class="form-control d-inline form-control-sm" [(ngModel)]="rotation" placeholder="Rotation" type="number" (input)="updateRotation()" style="width: 50px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Rotate +/-"/>
      <button type="button" class="btn btn-light me-1" (click)="rotateRight()" data-bs-toggle="tooltip" data-bs-placement="top" title="Rotate right"> <i class="fa fa-rotate-right"></i> </button>

      <button type="button" class="btn btn-light me-1" (click)="flipHorizontal()" data-bs-toggle="tooltip" data-bs-placement="top" title="Flip horizontal"> <i class="fa fa-arrows-h"></i> </button>
      <button type="button" class="btn btn-light me-1" (click)="flipVertical()" data-bs-toggle="tooltip" data-bs-placement="top" title="Flip vertical"> <i class="fa fa-arrows-v"></i> </button>

      <button type="button" class="btn btn-light me-1" (click)="toggleContainWithinAspectRatio()" data-bs-toggle="tooltip" data-bs-placement="top" title="Expand to Aspect Ratio"> <i class="fa fa-expand"></i> </button>
      <button type="button" class="btn btn-light me-1" (click)="resetImage()" data-bs-toggle="tooltip" data-bs-placement="top" title="Reset image"> <i class="fa fa-eraser"></i> </button>

      <div>
        <image-cropper class="ps-0"
          [imageFile]="imageFile"
          [imageBase64]="imageBase64"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [containWithinAspectRatio]="containWithinAspectRatio"
          [aspectRatio]="3 / 3"
          [resizeToWidth]="256"
          [cropperMinWidth]="128"
          [onlyScaleDown]="true"
          [roundCropper]="false"
          [canvasRotation]="canvasRotation"
          [transform]="transform"
          [alignImage]="'left'"
          [style.display]="showCropper ? null : 'none'"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady($event)"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
    </div>
    <div class="col-sm-12  col-md-5" >

      <label  class="sub-para mb-3">Resulting photo</label>
      <div><img class="" [src]="croppedImage" [style.border]="croppedImage ? '1px solid grey' : 'none'"  alt=""/></div>
    </div>
  </div>
</div>





