
<div [@dialog]="displayStyle" class="bootstrap-modal modal "  tabindex="-1" aria-labelledby="bootstrap-modal" role="dialog"  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bootstrap-modal">{{modalTitle}}</h5>
        <button *ngIf="showClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button *ngIf="cancelText" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onOkCancel()">{{cancelText}}</button>
        <button *ngIf="okText" type="button" class="btn btn-primary" (click)="onOkClick()">{{okText}}</button>
      </div>
    </div>
  </div>
</div>
