
 <app-drop-zone (dropped)="fileSelected($event)" *ngIf="!imageCropperHidden" description="Drag and drop image file here" buttonText="Browse for image"></app-drop-zone>

<div class="container px-0"  *ngIf="imageCropperHidden">
  <div class="row">
    <div class="col-xs-12 col-sm-8 ">
    <button type="button" class="btn btn-secondary btn-labeled btn-sm mb-2" (click)="toogleImageCropper()" tooltip="Load another photo">
      <span class="btn-label-small"><i class="fa fa-plus"></i></span>
      <span class="d-none d-sm-inline-block">New</span>
    </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12  col-md-7" >
      <button type="button" class="btn btn-light me-1" (click)="zoomOut()" tooltip="Zoom -"> <i class="fa fa-search-minus"></i> </button>
      <button type="button" class="btn btn-light me-1" (click)="zoomIn()"  tooltip="Zoom +"> <i class="fa fa-search-plus"></i> </button>

      <button type="button" class="btn btn-light me-1" (click)="rotateLeft()" tooltip="Rotate left"> <i class="fa fa-undo"></i> </button>
      <span></span>
      <input class="form-control d-inline form-control-sm" [(ngModel)]="rotation" placeholder="Rotation" type="number" (input)="updateRotation()" style="width: 50px;" />
      <button type="button" class="btn btn-light me-1" (click)="rotateRight()" tooltip="Rotate right"> <i class="fa fa-redo"></i> </button>

      <button type="button" class="btn btn-light me-1" (click)="flipHorizontal()" tooltip="Flip horizontal"> <i class="fa fa-arrows-alt-h"></i> </button>
      <button type="button" class="btn btn-light me-1" (click)="flipVertical()" tooltip="Flip vertical"> <i class="fa fa-arrows-alt-v"></i> </button>

      <button type="button" class="btn btn-light me-1" (click)="toggleContainWithinAspectRatio()" tooltip="Expand to Aspect Ratio"> <i class="fa fa-expand"></i> </button>
      <button type="button" class="btn btn-light me-1" (click)="resetImage()" data-bs-toggle="tooltip" data-bs-placement="top" tooltip="Reset image"> <i class="fa fa-eraser"></i> </button>

      <div>
        <image-cropper class="ps-0"
          [imageFile]="imageFile"
          [imageBase64]="imageBase64"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [containWithinAspectRatio]="containWithinAspectRatio"
          [aspectRatio]="3 / 3"
          [resizeToWidth]="256"
          [cropperMinWidth]="128"
          [onlyScaleDown]="true"
          [roundCropper]="false"
          [canvasRotation]="canvasRotation"
          [transform]="transform"
          [alignImage]="'left'"
          [style.display]="showCropper ? null : 'none'"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady($event)"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
    </div>
    <div class="col-sm-12  col-md-5" >

      <label  class="sub-para mb-3">Resulting photo</label>
      <div><img class="" [src]="croppedImage" [style.border]="croppedImage ? '1px solid grey' : 'none'"  alt=""/></div>
    </div>
  </div>
</div>





