<form class="row gy-1">
    <div class="col-xs-12 col-sm-8 ">
        <button type="button" class="btn btn-secondary btn-labeled btn-sm me-1">
            <span class="btn-label-small"><i class="fa fa-sync"></i></span>
            <span class="d-none d-sm-inline-block">Refresh</span>
        </button>
        <button type="button" class="btn btn-secondary btn-labeled btn-sm">
            <span class="btn-label-small"><i class="fa fa-plus"></i></span>
            <span class="d-none d-sm-inline-block">New</span>
        </button>
    </div>

    <div class="col-xs-12  col-sm-4 ">
         <span class="input-group">
            <input class="form-control form-control-sm" placeholder="search" type="text" id="example-search-input">
            <span class="input-group-append">
                <button class="btn  btn-sm  bg-white   ms-1" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </span>
    </div>

</form>
