/* You can add global styles to this file, and also import other style files */

@import './variables';
@import './tooltip';
@import './toast';
@import './ng-multiselect-dropdown';


body {
  line-height: 1.58;
  background: $primary-lighter;
  background: -webkit-linear-gradient(to left, $primary, $primary-lighter);
  background: linear-gradient(to left, $primary, #ca6363);
  color: #333;
  padding-bottom: 70px;
  padding-top: 60px;
}

.form-control, .form-select, .form-check-input  {
  &:focus {
    -webkit-box-shadow: none;
    box-shadow:  none;
    border-color: $primary;
  }
}

.component-title {
  color: $primary-lighter;
}

.sub-para {
  font-size: small;
}

.contact-book-info {
  margin-bottom: 6px;
}

.contact-book-list-info {
  margin-bottom: 30px;
}

.btn-label-small {
  position: relative;
  left: -8px;
  display: inline-block;
  padding: 4px 12px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0 3px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-labeled {
  background-color: darken($light, 5%);
  color: $secondary;
  border-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.btn-labeled-primary {
  background-color: lighten($primary, 10%);
  border-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.btn-labeled-secondary {
  background-color: lighten($secondary, 10%);
  border-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.label-dialog-column {
  font-size: 0.7rem;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  padding-left: 0;
  padding-right: 2px;
}

.small-text-dialog-column {
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
}

.top-80 {
  top: 80% !important;
}


@media (max-width: 576px) {
  .btn-label-small {
    left: 0;
    background: rgba(0, 0, 0, 0);
  }

  body {
    padding-bottom: 0;
  }
}



